<a href="https://colab.research.google.com/github/BandsThoBaby/13may23_len_function/blob/main/MoonDevPythonForAlgo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# LEARN TO CODE IN PYTHON 2024
# STEP BY STEP
# Mark out code by putting a # in front

# Alternatively, you can use single quotes:

'''
This is another multi-line comment
using single quotes.
'''

# use stackoverflow when stuck

print('hello this is my first piece of code')

# variable is a storage box
# String = Sentence

box = 'all my cables'
print(box)

hello this is my first piece of code
all my cables

In [3]:
# # BOOLEANS = True or False
# # types of things that re true or false

# answer = 3 > 4
# print(answer)

# # numbers in python
# # 2 types -
# # 1. Integer == Whole Number No Decimal
# # 2. Float not whole aka decimal eg. 1.2

# number = 56.45
# print(type(number))

# # turn floats to integers
# num2 = int(number)
# print(num2)

# # counting in Python
# # starts at 0 (Zero)
# # 0, 1, 2, 3, 4, 5

# count = 'Bangkok'
# print(count[2])

# #importing things (Modules - bbasically apps)
# import math
# # the above imports the math library

# # math in Python + - * / **

# math_box = 34.45 ** 34
# print(math_box)

# # 34 ^ 4

# '''
# # Arithmetic Operators in Python

# # Addition
# x + y  # Adds x and y

# # Subtraction
# x - y  # Subtracts y from x

# # Multiplication
# x * y  # Multiplies x by y

# # Division
# x / y  # Divides x by y (float result)

# # Floor Division
# x // y  # Divides x by y (integer result)

# # Modulus
# x % y  # Remainder of x divided by y

# # Exponentiation
# x ** y  # Raises x to the power of y

# # Unary Plus
# +x  # Returns x

# # Unary Minus
# -x  # Negates x
# '''

# # sentences = strings
# sentence = "I love my life in Thailand"
# print(sentence)

# #slicing sentences
# half = sentence [0:10]
# print(half)

# # Slicing Sentences/Strings in Python

# sentence = "Hello, World!"

# # Basic slicing syntax: sequence[start:stop:step]

# # Extract substring from index 0 to 4 (stop is exclusive)
# substring = sentence[0:5]  # "Hello"

# # Slice from index 7 to end
# substring = sentence[7:]  # "World!"

# # Slice using negative indices
# substring = sentence[-6:-1]  # "World"

# # Slice with a step of 2
# substring = sentence[0:12:2]  # "Hlo ol"

# # Reverse the string
# reversed_sentence = sentence[::-1]  # "!dlroW ,olleH"

# # Practical functions
# def get_first_word(sentence):
#     return sentence.split()[0]  # First word

# def get_last_word(sentence):
#     return sentence.split()[-1]  # Last word

# first_word = get_first_word(sentence)  # "Hello,"
# last_word = get_last_word(sentence)    # "World!"

# # variables = boxes to store stuff
# # lists = list of things to store

# mylist = [number, sentence, 'Pattaya', 420.69]
# print(mylist[3])

# # # KeyBoard Shortcuts -
# # ** SELECT ALL + Command + /  Will Comment out all selected
# # # Command + shift + left arrow will SELECT ALL


# #dictionary - also to store stuff
# # dictionary - key & value

my_dictionary = {'Province':'Sakhon Nakhon', 'Population':'1.152', 'fav_food':'Som Tum',
                 'location':'Thailand'}
print(my_dictionary['location'])

False
<class 'float'>
56
n
1.8383732511546652e+52
I love my life in Thailand
I love my
420.69
Thailand

In [4]:
sentence_1 = 'Swadee Krub'
sentence_2 = 'Yo Yo Yo'
number_1 = 32 # integer = whole number
number_2 = 4.20 # float = decimal place

if number_1 > number_2 #FALSE
    print(sentence_1)
elif number_1 == number_2 # == when checking t/
                          # use == , ! >. >=. <=
    print(sentence_2)
else: # fail safe, do this if all else false

# if, elif, else

# when checking True/False use double equals ==

#OPERATORS - == , !=, >=, <=

Swadee Krub

In [ ]:
# indexing - getting things out of list

# counting - going fwd is 0, 1, 2
# counting bckwd is -1, -2, -3

In [6]:
# while loops loop until false


# for loops - loop until a condition is fulfilled
listy = [23.45, 45, 'hey there']

# when using for loops the first word after for
# can be anything
for zzzz in listy:
  print(zzzz)


for x in range(10):
  print(x)

23.45
45
hey there
0
1
2
3
4
5
6
7
8
9

In [10]:
# functions - variables, lists, dictionaries
# 20 variable, 4 lists, 10 dictionaries

# use def for a function then name of func()
def storage_unit():

  shoes = 'Jordans'
  game = 'Zelda'
  age = 27
  gpa = 2.80

  mylist = [shoes, game, age, 'hey there']

  return shoes,mylist
# returning allows use in others parts of code

mylist = storage_unit()[1]
print(mylist[-2])

Jordans

In [17]:
# pass in information into a function

car = 'toyota'

def passing(car=car):

  num = 67
  print(car)

passing('lambo')

lambo

In [3]:
# google sheets == excel
# package/module/
import pandas as pd

df = pd.read_csv('/content/BTC-USD.csv')
print(df)

            Date          Open          High           Low         Close  \
0     2014-09-17    465.864014    468.174011    452.421997    457.334015
1     2014-09-18    456.859985    456.859985    413.104004    424.440002
2     2014-09-19    424.102997    427.834991    384.532013    394.795990
3     2014-09-20    394.673004    423.295990    389.882996    408.903992
4     2014-09-21    408.084991    412.425995    393.181000    398.821014
...          ...           ...           ...           ...           ...
3610  2024-08-05  58110.296875  58268.828125  49121.238281  53991.457031
3611  2024-08-06  53991.347656  57059.917969  53973.273438  56034.316406
3612  2024-08-07  56040.632813  57726.882813  54620.507813  55027.460938
3613  2024-08-08  55030.027344  62673.765625  54766.726563  61710.136719
3614  2024-08-09  61709.953125  61709.953125  59797.929688  60262.527344

         Adj Close        Volume
0       457.334015      21056800
1       424.440002      34483200
2       394.795990      37919700
3       408.903992      36863600
4       398.821014      26580100
...            ...           ...
3610  53991.457031  108991085584
3611  56034.316406   49300484106
3612  55027.460938   41637562185
3613  61710.136719   45298472567
3614  60262.527344   38417969152

[3615 rows x 7 columns]

In [19]:
# time series data - is just data over the course of time
# data that changes everyday
first_50 = df.head(50)
# print(first_50)
last_50 = df.tail(50)
# print(last_50)
# print(df[0:100])

#print (df[0:-20])
#print(df[['Date', 'Adj Close']])

            Date     Adj Close
0     2014-09-17    457.334015
1     2014-09-18    424.440002
2     2014-09-19    394.795990
3     2014-09-20    408.903992
4     2014-09-21    398.821014
...          ...           ...
3610  2024-08-05  53991.457031
3611  2024-08-06  56034.316406
3612  2024-08-07  55027.460938
3613  2024-08-08  61710.136719
3614  2024-08-09  60262.527344

[3615 rows x 2 columns]

In [23]:
# How to access a value out of one column
df_40k = df.loc[df['Close'] < 40000]
print(df_40k)
# Gives me the data frame where the close is higher than 40,000
# build a new data frame based off a condition

            Date          Open          High           Low         Close  \
0     2014-09-17    465.864014    468.174011    452.421997    457.334015
1     2014-09-18    456.859985    456.859985    413.104004    424.440002
2     2014-09-19    424.102997    427.834991    384.532013    394.795990
3     2014-09-20    394.673004    423.295990    389.882996    408.903992
4     2014-09-21    408.084991    412.425995    393.181000    398.821014
...          ...           ...           ...           ...           ...
3363  2023-12-02  38689.277344  39678.937500  38652.593750  39476.332031
3364  2023-12-03  39472.207031  40135.605469  39298.164063  39978.390625
3414  2024-01-22  41553.652344  41651.207031  39450.117188  39507.367188
3415  2024-01-23  39518.714844  40127.351563  38521.894531  39845.550781
3417  2024-01-25  40075.550781  40254.480469  39545.664063  39933.808594

         Adj Close       Volume
0       457.334015     21056800
1       424.440002     34483200
2       394.795990     37919700
3       408.903992     36863600
4       398.821014     26580100
...            ...          ...
3363  39476.332031  15534035612
3364  39978.390625  15769696322
3414  39507.367188  31338708143
3415  39845.550781  29244553045
3417  39933.808594  18491782013

[3035 rows x 7 columns]

In [27]:
# how to get a specifc value out of a data frame

date_of_398 = df.loc[df['Close']==398.821014, 'Date'].values[0]

# how to get a specifc value out of a data frame

print(date_of_398)

2014-09-21